#shopping-header {
    align-items: center;
    display: flex;
    position: absolute;
    right: 0;
}

#shopping-cart {
    align-items: center;
    aspect-ratio: 1;
    background-color: rgb(248, 248, 248);
    border: none;
    border-radius: 3.0rem;
    box-shadow: 0 0.5rem 0 black, inset 0 0.5rem 0 rgba(from white r g b / 50%);
    cursor: pointer;
    display: flex;
    font-size: 2.5rem;
    height: 2.0em;
    justify-content: center;
    z-index: 2;

    &:hover {
        box-shadow: 0 0.5rem 0 black, 0 0 1.0rem white;
    }

    &:has(~ div:popover-open) {
        box-shadow: none;
        margin-top: 0.5rem;

        &:hover {
            box-shadow: 0 0 1.0rem white;
        }
    }
}

#shopping-cart-total {
    align-items: center;
    aspect-ratio: 1;
    background-color: red;
    border-radius: 3.0rem;
    bottom: -1.0em;
    box-shadow: 0 0.25rem 0 black;
    color: black;
    display: flex;
    font-family: cursive;
    font-size: 1.0rem;
    height: 2.0em;
    justify-content: center;
    padding: 0.25em;
    position: absolute;
    right: -1.0em;
    z-index: 2;
}

#shopping-list {
    background-color: rgb(143, 196, 239);
    background-image: url("../../assets/backgrounds/noise.svg");
    border: 0.25rem solid black;
    border-radius: 2.0rem;
    box-shadow: 0 0.5rem 0 black;
    box-sizing: border-box;
    clip-path: border-box;
    color: black;
    filter: drop-shadow(0 0 1.0rem black);
    flex-direction: column;
    font-family: cursive;
    font-size: 1.0rem;
    max-height: max(30.0em, 50vh);
    overflow: hidden;
    position: absolute;
    width: 22.0em;

    &:popover-open {
        display: flex;
        inset: unset;
        margin: unset;
        overlay: unset;
        padding: 0;
        position-area: bottom span-left;
    }

    &::backdrop {
        display: none;
    }
}

#shopping-list-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1.0rem;
    overflow: hidden scroll;
    scrollbar-gutter: stable;
    scrollbar-width: thin;

    & > .shopping-cart-item:first-child {
        margin-top: 1.0rem;
    }

    & > .shopping-cart-item:last-child {
        margin-bottom: 1.0rem;
    }
}

#shopping-list-footer {
    align-items: center;
    background-color: white;
    border-top: 1px solid black;
    color: black;
    display: grid;
    font-size: 1.0rem;
    grid-template-columns: 4em 1fr auto;
    padding: 0 1.5rem 0 1.0rem;
}

#shopping-list-footer-total {
    display: flex;
    justify-content: end;
    padding: 0 1.0rem;
    width: 3ch;
}

.shopping-cart-item {
    align-items: center;
    background-color: white;
    border-radius: 2.0rem;
    box-shadow: 0 0.5rem 0 black;
    cursor: default;
    display: grid;
    grid-template-columns: 4em 1fr auto;
    margin: 0 1.0rem;

    &:hover {
        &::before {
            box-shadow: 0 0.5rem 0 black, 0 0 1.0rem white;
        }
    }
}

.shopping-cart-item-image {
    aspect-ratio: 1;
    display: flex;
    filter: drop-shadow(0 0 0 black);
    height: 4.0em;
}

.shopping-cart-item-text {
    display: flex;
    white-space: nowrap;
}

.shopping-cart-item-amount {
    display: flex;
    justify-content: end;
    padding: 0 1.0rem;
    width: 3ch;
}
